
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
	font-family: 'SourceHanSans';
	src: url(../Content/font/SourceHanSansSC-Light.otf) format('truetype');
}

body {
    font: "roboto";
    font-family: "roboto" , 'SourceHanSans';
	font-weight: 100;
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    
    height: 2000px;
}

a {
    text-decoration: none;
}

img {
	vertical-align: bottom;
}

.sitelogo {
    width: 14.7%;
}

.sitelogo a {
    display: block;
    padding-top: 28%;
    background-image: url(img/sitelogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav {
	font-weight: bold;
    padding: 10px 0px;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    z-index: 1000;
	background-color: #fff;
}

.nav-hideIcon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
    color: #fff;
	background-color: transparent;
    padding: 20px 0px;
    box-shadow: none;
}

.nav-hideIcon .sitelogo {
    display: none;
}

.nav ul {
    margin: 0px auto;
	padding: 0px;
    text-align: center;
    font-size: 100%;
    max-width: 960px;
}

.nav li {
    padding: 0px 10px;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
}

.nav > ul > li a {
    display: block;
    color: #000;
    opacity: .8;    
    font-size: 120%;
    text-decoration: none;
}

.nav > ul > li a:hover {
    opacity: 1;
}

.nav-hideIcon > ul > li a {
    color: #fff;
}


.memberMenu {
    position: relative;
}

.memberMenu .menuPanel {
    left: -20px;
    text-align: left;
    position: absolute;
    background-color:  white;
    border: 1px solid rgba(0,0,0,0.5);
    border-top: none;
    display: none;
}

.nav-hideIcon .menuPanel {
    background-color: transparent;
    boorder: none;
}

.memberMenu:hover .menuPanel {
    display: block;
}

.menuPanel ul,
.menuPanel li {
    padding: 0px;
    margin: 0px;
}

.menuPanel li {
    font-size: 90%;
    padding: 0px 10px;
    margin: 10px 0px;
    display: block;
}

.mainvisual{
    display: block;
    margin: 0px auto;
    height: 900px;
    max-width: 1400px;
    background: url(img/mainvisual.jpg) no-repeat;
    background-size: contain;
}

.blocks {
	margin: 20px auto;
}

.blocks .title {
    font-weight: 300;
    font-size: 48px;
}

.blocks .items {
    background-color: #f2f2f2;
}

.blocks .items .itemContainer {
	padding: 20px 40px;
}

.container {
    margin: 0px auto;
    max-width: 960px;
    margin-top: 30px;
}

.news .newsDetails {
    margin: 10px 5px;
}

.news .newsTitle {
	height: 100%;
}

.news .newsTitle-ContentTitle {
	width: 100%;
	padding: 20px 0px;
	font-size: 1.1em;
	border-bottom: 1px solid #999;
}

.news .newsInfo {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    height: 100%;
}

.news .newsDetails .newsTitle {
    color: #000;
    font-size: 90%;
    margin-left: 20px;
}

.news .newsLink {
    padding: 25px;
    display: block;
    background: center no-repeat;
    background-image: url(img/arrow_next.png);
    background-position: 97%;
}

.news .dateTime .dateItem {
    display: table-cell;
    text-align: center;
    vertical-align:middle;
    height: 100%;
}
.news .dateTime .dateItem .date {
    color: #fff;
    font-size: 70%;
    padding: 8px 10px;
}

.news .dateTime .dateItem .date-date {
    background-color: #131313;
}

.news .dateTime .newsType {
    color: #000;
    font-size: 70%;
    padding: 8px 10px;
}

.news .dateTime .dateItem .date-year {
    background-color: #333;
}

.newsDetail .itemContainer{
	margin: 10%;
	margin-left: 15%
}

.newsDetail .newsTitleBlock {
	position: relative;
	margin: 10px 0px;
}

.newsDetail .newsTitleBlock .dateTime {
	position: absolute;
	left: -130px;
	clear: both;
}

.newsDetail .newsContent {
	margin: 20px 0px;
	line-height: 2em;
	font-size: 90%;
}

.footerControls {
	text-align: center;
}

.footerControls .footerItem {
	margin: 0px 20px;
}

.footerControls .control {
	color: #555;
}

.footerControls .control-list {
	font-weight: bold;
}

.schedule .items {
	margin: 10px 0px;
	padding: 10px 10%;
	padding-left: 15%;
	
	clear: both;
	position: relative;
}

.schedule .scheduleDetails {
	margin: 10px 0px;
	font-size: 90%;
}

.schedule .scheduleLink {
	color: #00bee5;
	text-decoration: underline;
}

.schedule .scheduleType{
	width: 75px;
	padding: 30px 0px;
	margin-left: 15%;
	
	font-size: 70%;
	text-align: center;
	display: inline-block;
	
	position: absolute;
	left: -100px;
	top: 20px;
}

.schedule .scheduleType-tv{
	background-color: #f491bb;
}

.schedule .scheduleType-radio {
	background-color: #f4af91;
}

.profile .items {
	padding: 30px;
}

.profile .photo {
	max-width: 380px;
}

.profile .profileItem{
	display: inline-block;
}

.profile .profileDetails {
	padding: 0px 30px;
	width: 50%;
	height: 100%;
	
	font-size: 90%;
	vertical-align: top;

}

.profile .name .normal {
	letter-spacing: 0.5em;
	font-size: 500%;
}

.profile .name .english {
	letter-spacing: 0.5em;
	font-size: 130%;
}

.profile .detailInfo {
	margin: 20px 0px;
}

.profile .description{
	line-height: 1.7;
}

.profile .infoItem {
	padding: 10px 0px;
}

.discography .items {
	margin: 30px auto;
	padding: 30px;
	font-size: 70%;
}

.discography .items .title{
	margin-top: 0px;
	font-size: 230%;
}

.discography .discoItem {
	display: inline-block;
}

.discography .infoItem {
	margin: 10px;
}

.discography .image {
	vertical-align: top;
}

.discography .subtitle {
	font-size: 130%;
}

.discography .discoSubtitle {
	margin: 0px 10px;
}

.productBlocks .productItem {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
}

.productItem:hover {
    box-shadow: 0 0 2px 2px #ddd;
}

.productItem .productTitle {
    font-size: 90%
}

.productItem .productPrice { 
    color: coral;
    font-size: 110%;
}

.productInfo {
    padding-left: 5%;
}

.productInfo .baseProductInfo{
    margin: auto;
}

.productInfo .detailPreview{
    float: left;
    vertical-align: top;
    width: 300px;
    text-align: center;
}

.productInfo .detailPreview img {
    margin: auto;
}

.productInfo .description {
    padding-top: 40px;
    margin-left: 15px;
}

.productInfo .detailPrice {
    color: coral;
    font-size: 110%;
    
    margin-bottom: 30px;
}

.productInfo .buyControl {
    margin-top: 40px;
}

.productInfo .controlItem{
    display: inline-block;
}

.productInfo .buyNumber input {
    font-size: 110%;
    width: 50px;
    outline: none;
    vertical-align: middle;
    padding: 5px;
}

.productInfo .buyBuyButton .buyButton {
    color: #fff;
    border: none;
    background: none;
    outline: none;
    background-color: #c40000;
    border: 1px solid #c40000;
    height: 35px;
    width: 130px;
}

.productInfo .buyProductDescription{
    clear: both;
    padding: 20px;
}

.buyProductDescription .descriptionTitle {
    font-size: 130%;
}

.buyProductDescription .descriptionContent{
    padding: 20px 40px;
}

.type-media {
    background-color: #91f4bb;
} 