@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
	font-family: 'SourceHanSans';
	src: url(../Content/font/SourceHanSansSC-Light.otf) format('truetype');
}

body {
	font: "roboto";
	font-family: "roboto", 'SourceHanSans';
	font-weight: 100;
	font-size: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	height: 2000px;
}

a {
	text-decoration: none;
}

img {
	vertical-align: bottom;
}

input,
button {
	outline: none;
}

.sitelogo {
	width: 14.7%;
}

.sitelogo a {
	display: block;
	padding-top: 28%;
	background-image: url(img/sitelogo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.nav {
	font-weight: bold;
	padding: 10px 0px;
	position: fixed;
	left: 0;
	right: 0;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	z-index: 1000;
	background-color: #fff;
}

.nav-hideIcon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	background-color: transparent;
	padding: 20px 0px;
	box-shadow: none;
}

.nav-hideIcon .sitelogo {
	display: none;
}

.nav ul {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	font-size: 100%;
	max-width: 960px;
}

.nav li {
	padding: 0px 10px;
	vertical-align: middle;
	display: inline-block;
	list-style: none;
}

.nav > ul > li a {
	display: block;
	color: #000;
	opacity: .8;
	font-size: 120%;
	text-decoration: none;
}

.nav > ul > li a:hover {
	opacity: 1;
}

.nav-hideIcon > ul > li a {
	color: #fff;
}

.memberMenu {
	position: relative;
}

.memberMenu .menuPanel {
	left: -20px;
	text-align: left;
	position: absolute;
	transition: .6s;
	height: 0px;
	overflow: hidden;
	background-color: white;
}

.nav-hideIcon .menuPanel {
	background-color: transparent;
	border: none;
}

.memberMenu:hover .menuPanel {
	height: 89px;
}

.memberMenu .menuOptions {
	margin-top: 16px;
	border: 1px solid rgba(0,0,0,0.5);
	border-top: none;
}

.nav-hideIcon .memberMenu .menuOptions {
	border: none;
	margin: 0px;
}

.menuPanel ul,
.menuPanel li {
	padding: 0px;
	margin: 0px;
}

.menuPanel li {
	font-size: 90%;
	padding: 5px 10px;
	display: block;
}

.mainvisual {
	display: block;
	margin: 0px auto;
	height: 900px;
	max-width: 1400px;
	background: url(img/mainvisual.jpg) no-repeat;
	background-size: contain;
}

.blocks {
	margin: 20px auto;
}

.blocks .title {
	font-weight: 300;
	font-size: 48px;
}

.blocks .items {
	background-color: #f2f2f2;
}

.blocks .items .itemContainer {
	padding: 20px 40px;
}

.container {
	margin: 0px auto;
	max-width: 960px;
	margin-top: 30px;
}

.news .newsDetails {
	margin: 10px 5px;
}

.news .newsTitle {
	height: 100%;
}

.news .newsTitle-ContentTitle {
	width: 100%;
	padding: 20px 0px;
	font-size: 1.1em;
	border-bottom: 1px solid #999;
}

.news .newsInfo {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	height: 100%;
}

.news .newsDetails .newsTitle {
	color: #000;
	font-size: 90%;
	margin-left: 20px;
}

.news .newsLink {
	padding: 25px;
	display: block;
	background: center no-repeat;
	background-image: url(img/arrow_next.png);
	background-position: 97%;
}

.news .dateTime .dateItem {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}

.news .dateTime .dateItem .date {
	color: #fff;
	font-size: 70%;
	padding: 8px 10px;
}

.news .dateTime .dateItem .date-date {
	background-color: #131313;
}

.news .dateTime .newsType {
	color: #000;
	font-size: 70%;
	padding: 8px 10px;
}

.news .dateTime .dateItem .date-year {
	background-color: #333;
}

.newsDetail .itemContainer {
	margin: 10%;
	margin-left: 15%;
}

.newsDetail .newsTitleBlock {
	position: relative;
	margin: 10px 0px;
}

.newsDetail .newsTitleBlock .dateTime {
	position: absolute;
	left: -130px;
	clear: both;
}

.newsDetail .newsContent {
	margin: 20px 0px;
	line-height: 2em;
	font-size: 90%;
}

.footerControls {
	text-align: center;
}

.footerControls .footerItem {
	margin: 0px 20px;
}

.footerControls .control {
	color: #555;
}

.footerControls .control-list {
	font-weight: bold;
}

.schedule .items {
	margin: 10px 0px;
	padding: 10px 10%;
	padding-left: 15%;
	clear: both;
	position: relative;
}

.schedule .scheduleDetails {
	margin: 10px 0px;
	font-size: 90%;
}

.schedule .scheduleLink {
	color: #00bee5;
	text-decoration: underline;
}

.schedule .scheduleType {
	width: 75px;
	padding: 30px 0px;
	margin-left: 15%;
	font-size: 70%;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: -100px;
	top: 20px;
}

.schedule .scheduleType-tv {
	background-color: #f491bb;
}

.schedule .scheduleType-radio {
	background-color: #f4af91;
}

.profile .items {
	padding: 30px;
}

.profile .photo {
	max-width: 380px;
}

.profile .profileItem {
	display: inline-block;
}

.profile .profileDetails {
	padding: 0px 30px;
	width: 50%;
	height: 100%;
	font-size: 90%;
	vertical-align: top;
}

.profile .name .normal {
	letter-spacing: 0.5em;
	font-size: 500%;
}

.profile .name .english {
	letter-spacing: 0.5em;
	font-size: 130%;
}

.profile .detailInfo {
	margin: 20px 0px;
}

.profile .description {
	line-height: 1.7;
}

.profile .infoItem {
	padding: 10px 0px;
}

.discography .items {
	margin: 30px auto;
	padding: 30px;
	font-size: 70%;
}

.discography .items .title {
	margin-top: 0px;
	font-size: 230%;
}

.discography .discoItem {
	display: inline-block;
}

.discography .info {
	width: 65%;
}

.discography .infoItem {
	margin: 10px;
}

.discography .image {
	vertical-align: top;
}

.discography .subtitle {
	font-size: 130%;
}

.discography .discoSubtitle {
	margin: 0px 10px;
}

.productBlocks .blockTitle {
	font-size: 150%;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.productBlocks .blockProductList {
	padding: 20px 40px;
}

.productBlocks .productDetailLink {
	color: #000;
}

.productBlocks .productItem {
	display: inline-block;
	margin: 5px 10px;
	padding: 5px;
}

.productItem:hover {
	box-shadow: 0 0 2px 2px #ddd;
}

.productItems:after {
	content: '';
	display: block;
	clear: both;
}

.productItem .productTitle {
	font-size: 90%;
}

.productItem .productPrice {
	color: coral;
	font-size: 110%;
}

.productInfo {
	padding: 0px 10%;
}

.productInfo .baseProductInfo {
	margin: auto;
}

.productInfo .detailTitle {
	font-size: 130%;
	font-weight: bold;
}

.productInfo .detailPreview {
	float: left;
	vertical-align: top;
	width: 300px;
	text-align: center;
	min-height: 300px;
}

.productInfo .detailPreview img {
	margin: auto;
}

.productInfo .description {
	padding-top: 40px;
	margin-left: 15px;
}

.productInfo .detailPrice {
	color: coral;
	font-size: 110%;
	margin-bottom: 30px;
}

.productInfo .buyControl {
	margin-top: 40px;
}

.productInfo .controlItem {
	display: inline-block;
}

.productInfo .buyNumber input {
	font-size: 110%;
	width: 50px;
	vertical-align: middle;
	padding: 5px;
}

.productInfo .buyBuyButton .buyButton {
	color: #fff;
	border: none;
	background: none;
	background-color: #c40000;
	border: 1px solid #c40000;
	height: 35px;
	width: 130px;
}

.productInfo .buyBuyButton .buyButton:hover {
	background: #E64646;
}

.productInfo .buyProductDescription {
	clear: both;
	padding: 20px;
}

.buyProductDescription .descriptionTitle {
	font-size: 130%;
}

.buyProductDescription .descriptionContent {
	padding: 20px 40px;
}

.messageBox{
	margin: 10px auto;
	padding: 10px;
	width: 500px;
	min-height: 200px;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px #aaa;
}

.messageBox .messageTitle{
	font-size: 130%;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.messageBox .messageBody {
	margin: 10% 0px;
	text-align: center;
	vertical-align: middle;
}

.subBlocks .blockTitle {
	font-size: 150%;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.subBlocks .blockBody {
	padding: 5px 20px;
}

.subBlocks .blockFooter {
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #ccc;
}


.subBlocks .leftContainer{
	float: left;
}

.subBlocks .rightContainer {
	float: right;
}

.subblocks .footerContainer::after {
	content: '';
	display: block;
	clear: both;
}

.blockBody .addressTitle {
	font-size: 130%;
	margin: 5px 0px;
	padding: 0px;
}

.blockBody .selectBox {
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0px 10px;
	margin-left: 30px;
}

.blockBody .itemDetails {
	padding: 10px;
}

.blockBody .itemDetails .items{
	font-size: 85%;
	padding: 2px;
}

.blockBody .itemPrices .amount{
	font-size: 110%;
	color:coral;
}

.blockBody .itemDetails .itemTitle {
	font-size: 100%;
}

.blockBody .itemControl{
	position: absolute;
	top: 50%;
	right: 0%;
	padding: 5px 10px;
	margin-right: 40px;
	transform: translateY(-50%);
}

.blockBody .blockItems {
	font-size: 100%;
	margin: 10px 0px;
	position: relative;
	transition: .3s;
	padding: 5px 20px;
}

.blockBody .blockItems:hover {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.blockItems .itemPreview {
	float: left;
	margin: 0px 15px;
	margin-left: 50px;
	clear: both;
}

.blockItems .itemPreview img{
	width: 100px
}

.blockItems .address .addressItem {
	display: inline-block;
}

.itemControl .buttonRemove {
	color: #fff;
	padding: 3px 10px;
	border-radius: 3px;
	background-color: #d9534f;
	border: 1px solid #b12c28;
	transition: .3s;

	cursor: pointer;
}

.buttonRemove .buttonText {
	font-size: 90%;
	margin-left: 5px;
}

.buttonPayment {
	cursor: pointer;
	font-size: 110%;
	
	float: right;
	margin: 5px;
	margin-right: 30px;
	padding: 10px 20px;

	color: #000;
	background-color: #fff;

	border-radius: 3px;
	border: 1px solid #000;

	opacity: 0.7;

	transition: .2s;
}


.buttonPayment:hover {
	color: #fff;
	background-color: #000;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.itemControl .buttonRemove:hover {
	background-color: #c9302c;
}

.itemDetails .items {
	overflow: hidden;
}

.blockFooter .paymentPreview {
	margin-left: 20px;
	display: inline-block;
	font-size: 90%;
}

.paymentPreview .previewHeader {
	text-align: right;
}

.paymentPreview .previewAmount {
	color: coral;
}

.blockFooter::after {
	content: '';
	display: block;
	clear: both;
}

.addressBlock .blockItems {
	position: relative;
}

.addressBlock .newAddress {
	margin: 5px;
	float: right;
	
	
	font-size: 80%;
	font-weight: 100;
}

.addressBlock .footerContainer {
	position: absolute;
	right: 0;
	top: 0;
}

.addressBlock .addressButton {
	background: none;
	border: none;
	cursor: pointer;
	
	margin: 0px;
	margin-top: 5px;
	padding: 5px 10px;
	transition: .3s;
	
	color: #fff;
	background-color: #d9534f;
	/*
	border: 1px solid #b12c28;
	*/
	
	border-radius: 2px;
	overflow: hidden;
	display: table-cell;
}

.addressBlock .addressButton:hover {
	background-color: #c9302c;
}

.orderBlock .blockItems {
	padding: 0px;
	
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.orderBlock .orderDetails {
	margin: 40px 0px;
}

.orderBlock .orderAddress::before {
	clear: both;
	
}

.orderBlock .orderDetails .detailItem {
	padding-left: 20px;
	padding-right: 20px;
}

.orderBlock .orderTitle,
.orderBlock .orderFooter {
	background-color: #f5f5f5;
	
	padding: 10px 0px;
}

.orderBlock .orderTitle{
	border-bottom: 1px solid #ddd;
}

.orderBlock .orderNumber {
	display: inline-block;
}

.orderBlock .orderState {
	float: right;
	font-size: 90%;
}

.orderBlock .orderState:after {
	display: block;
	content: '';
	clear: both;
}

.orderBlock .orderFooter {
	border-top: 1px solid #ddd;
}

.orderBlock .orderBody {
	padding-top: 10px;
	padding-bottom: 10px;
}

.type-media {
	background-color: #91f4bb;
}
